<app-header [title]="'Discussion'" [subtitle]="'Discuter en direct avec d\'autres candidats'"></app-header>


<div class="container_messages">

    <div *ngFor="let message of messages">
        <app-message *ngIf="message.nickname != username" [type]="'in'" [message]="message.message">
        </app-message>
        <app-message *ngIf="message.nickname == username" [type]="'out'" [message]="message.message"></app-message>
    </div>


    <div class="input_message">
        <span style="font-style: italic;" *ngIf="is_writting">est en train d'écrire</span><br>
        <mat-form-field style="width: 90%; display: inline-block;">
            <input matInput placeholder="Entrez votre message" name="message" [(ngModel)]="message" (ngModelChange)="updateStatus($event)">
        </mat-form-field>
        <button mat-button style="display: inline-block;">
            <mat-icon style="color: #e50051; display: inline-block; " (click)="sendMessageUser()">send
            </mat-icon>
        </button>
    </div>
</div>