/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body, a, h1 {
    margin: 0;
    font-family: 'locator-regular' !important;
}

@font-face {
    font-family: "locator-regular";
    src: url("/assets/fonts/locator-regular.otf") format("truetype");
}